
[credential]
  helper = manager
[push]
  default = current
[core]
  preloadindex = true
  fscache = true
  editor = code --wait
[rebase]
  autoSquash = true
[alias]
  l = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset'
  ls = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %B %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset'
  ln = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset' -n
  last = log -n 1 --pretty=format:'%H'
  fshow = show --pretty="" --name-only
  fup = commit --fixup
  sup = commit --squash
  pup = push -u
  pre = pull --rebase
[merge]
  conflictstyle = diff3
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  algorithm = patience
[status]
  showUntrackedFiles = all
[rerere]
  enabled = true
