[credential]
  helper = manager
[push]
  default = current
[core]
  preloadindex = true
  fscache = true
  editor = code --new-window --disable-extension EditorConfig.EditorConfig --wait
[rebase]
  autoSquash = true
[alias]
  l = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset'
  ls = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %B %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset'
  ln = log --graph --pretty=format:'%C(cyan)%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%C(yellow)%d%Creset' -n
  last = log -n 1 --pretty=format:'%H'
  fshow = show --pretty="" --name-only
  fup = commit --fixup
  sup = commit --squash
  pup = push -u
  cup = clean -xdf -e packages/ -e .vs/ -e out/
  mup = !"git checkout master; git pull -p; git checkout -; git merge master"
  rup = !"git checkout master; git pull -p; git checkout -; git rebase -i master"
  when = log -1 --pretty=%aI -- 
[merge]
  conflictstyle = diff3
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code $LOCAL $REMOTE --diff --wait $MERGED
  trustExitCode = false
[diff]
  tool = vscode
  algorithm = patience
[status]
  showUntrackedFiles = all
[rerere]
  enabled = true
